-- DropForeignKey
ALTER TABLE `Job` DROP FOREIGN KEY `Job_quoteId_fkey`;

-- AlterTable
ALTER TABLE `Customer` ADD COLUMN `archivedAt` DATETIME(3) NULL,
    ADD COLUMN `discountLevel` VARCHAR(191) NULL,
    ADD COLUMN `preferredPricingProfile` VARCHAR(191) NULL;

-- AlterTable
ALTER TABLE `Supplier` ADD COLUMN `address` TEXT NULL,
    ADD COLUMN `archivedAt` DATETIME(3) NULL,
    ADD COLUMN `contactName` VARCHAR(191) NULL,
    ADD COLUMN `defaultDiscount` DECIMAL(6, 4) NOT NULL DEFAULT 0,
    ADD COLUMN `leadTimeDays` INTEGER NULL;

-- AlterTable
ALTER TABLE `Material` ADD COLUMN `archivedAt` DATETIME(3) NULL,
    ADD COLUMN `category` VARCHAR(191) NULL,
    ADD COLUMN `costPerSqm` DECIMAL(10, 2) NULL,
    ADD COLUMN `rollLengthM` DECIMAL(10, 2) NULL,
    ADD COLUMN `rollWidthMm` DECIMAL(10, 2) NULL;

-- AlterTable
ALTER TABLE `LabourRate` ADD COLUMN `archivedAt` DATETIME(3) NULL,
    ADD COLUMN `chargeIncrementMinutes` INTEGER NOT NULL DEFAULT 15,
    ADD COLUMN `minimumCharge` DECIMAL(10, 2) NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE `PricingMatrixEntry` ADD COLUMN `archivedAt` DATETIME(3) NULL,
    ADD COLUMN `defaultDesignHours` DECIMAL(8, 2) NOT NULL DEFAULT 0,
    ADD COLUMN `defaultInstallationHours` DECIMAL(8, 2) NOT NULL DEFAULT 0,
    ADD COLUMN `defaultProductionHours` DECIMAL(8, 2) NOT NULL DEFAULT 0,
    ADD COLUMN `defaultTravelHours` DECIMAL(8, 2) NOT NULL DEFAULT 0,
    ADD COLUMN `wastePercentage` DECIMAL(6, 4) NOT NULL DEFAULT 0.08;

-- AlterTable
ALTER TABLE `Job` ADD COLUMN `archivedAt` DATETIME(3) NULL,
    ADD COLUMN `invoiceStatus` ENUM('NOT_CREATED', 'ESTIMATE_CREATED', 'INVOICED', 'PART_PAID', 'PAID', 'VOID') NOT NULL DEFAULT 'NOT_CREATED',
    ADD COLUMN `quickBooksEstimateId` VARCHAR(191) NULL,
    ADD COLUMN `quickBooksInvoiceId` VARCHAR(191) NULL,
    ADD COLUMN `workflowStatus` ENUM('QUOTE', 'APPROVED', 'ARTWORK', 'AWAITING_APPROVAL', 'PRODUCTION', 'INSTALLATION', 'INVOICE', 'COMPLETED') NOT NULL DEFAULT 'QUOTE',
    MODIFY `quoteId` VARCHAR(191) NULL;

-- AddForeignKey
ALTER TABLE `Job` ADD CONSTRAINT `Job_quoteId_fkey` FOREIGN KEY (`quoteId`) REFERENCES `Quote`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

